In [2]:
#wrote a function that imports most needed libarys so i dont have to write them all over again 
import import_all
import pandas as pd, numpy as np, matplotlib.pyplot as plt
import sklearn
from sklearn.model_selection import train_test_split
from pandas.plotting import scatter_matrix
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier

In [3]:
import numpy as np, pandas as pd, matplotlib.pyplot as plt

In [4]:
dataset = pd.read_csv("archive/heart.csv")
dataset.head()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [5]:
#Check for duplicate
dataset[dataset.duplicated()]

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
164,38,1,2,138,175,0,1,173,0,0.0,2,4,2,1

In [6]:
#remove
dataset.drop_duplicates(keep='first',inplace=True)
dataset.shape

(302, 14)

In [7]:
#drop "output" for labeld data
#y = dataset["output"] 
#x = pd.DataFrame(dataset)
#x.drop(columns=["output"])
x = dataset.iloc[:, 1:-1].values
y = dataset.iloc[:, -1].values

In [8]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer 

trans_pipeline = Pipeline([("imputer", SimpleImputer(strategy="median")), 
                           ("std_scaler", StandardScaler()),
    ])

x_pre = trans_pipeline.fit_transform(x)

In [9]:
print(f"shape data_set: {dataset.shape}", f"shape of x: {x.shape}" , f"shape of y: {y.shape}")

shape data_set: (302, 14) shape of x: (302, 12) shape of y: (302,)

Split dataset into training and testing sets

In [10]:
train_x, test_x, train_y, test_y = train_test_split(x_pre, y ,test_size=0.2, random_state=42)

In [11]:
train_x.shape, test_x.shape, train_y.shape, test_y.shape

((241, 12), (61, 12), (241,), (61,))

In [12]:
train_x_tr = trans_pipeline.fit_transform(train_x)
test_x_tr = trans_pipeline.fit_transform(test_x)
train_x_tr.shape

(241, 12)

In [13]:
from sklearn.neighbors import KNeighborsClassifier
knn_clf = KNeighborsClassifier(n_neighbors=1)

In [14]:
knn_clf.fit(train_x_tr,train_y)

KNeighborsClassifier(n_neighbors=1)

In [15]:
predict = knn_clf.predict(train_x_tr)
predict

array([1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0,
       1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0,
       0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0,
       1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1,
       1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1,
       0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1])

Feature Scaling
Ml algortihms dont peforme that good if u have big scaling between numerical attributes input 
How to get Aattributes to have the same scale: min max scaling, standardization

In [16]:
#Min max scaling (normalization) shift scaling to new_value = (value - min)/(max - min)
#Standardization is also an option.: substracts the mean value and divides it by the standard deation

In [17]:
#Transformation Piplines and how to use them

predict = lambda data_x : knn_clf.predict(data_x)
predict_value = predict(train_x_tr)

In [18]:
#Using Cross-Validation to test for accuracy result
from sklearn.model_selection import cross_val_score

accuracy = cross_val_score(knn_clf, test_x_tr, test_y, cv = 5)
accuracy

array([0.76923077, 0.75      , 0.75      , 0.75      , 0.75      ])

In [19]:
accuracy.sum()/len(accuracy) #durchschnittliche accuracy

0.7538461538461538

In [20]:
from sklearn.metrics import accuracy_score
predict = knn_clf.predict(train_x_tr)

In [21]:
#Implement 5k_cross_validation

predict_value.sum()

132

In [22]:
k_fold = dataset.copy()

In [23]:
#copy train data
x_fold_train = train_x.copy 
y_fold_train = train_y.copy
#copy test data
x_fold_test = test_x.copy 
y_fold_test= test_y.copy

In [24]:
# split into K=5 groups split training data into 5 Groups

In [25]:
#shuffle data and splti in even lenght

In [26]:
fold_x_train, fold_x_test, fold_y_train, fold_y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [27]:
k_fold_x = pd.DataFrame(fold_x_train)
k_fold_x

k_fold_y = pd.DataFrame(fold_y_train)

In [31]:
#splitting data into K=5 parts, try to implement function to do this later
#training
x_1 = k_fold_x.iloc[0:48]
x_2 = k_fold_x.iloc[48:48*2]
x_3 = k_fold_x.iloc[48*2: 48*3]
#test
x_4 = k_fold_x.iloc[48*3: 48*4]
x_5 = k_fold_x.iloc[48*4:]

In [32]:
x_1.shape, x_2.shape, x_3.shape , x_4.shape , x_5.shape

((48, 12), (48, 12), (48, 12), (48, 12), (49, 12))

In [33]:
#training
y_1 = k_fold_y.iloc[0:48]
y_2 = k_fold_y.iloc[48:48*2]
y_3 = k_fold_y.iloc[48*2: 48*3]
#test
y_4 = k_fold_y.iloc[48*3: 48*4]
y_5 = k_fold_y.iloc[48*4:]

In [34]:
y_1, y_2, y_3, y_4, y_5 = np.array(y_1), np.array(y_2), np.array(y_3), np.array(y_4), np.array(y_5)

y_1, y_2, y_3, y_4, y_5 = np.ravel(y_1),np.ravel(y_2),np.ravel(y_3),np.ravel(y_4),np.ravel(y_5),

In [35]:
test_k_x = [x_1,x_2,x_3,x_4,x_5]
test_k_y = [y_1,y_2,y_3,y_4,y_5]

In [36]:
def k_fold(x_train,y_train, k_folds):
    results = []
    knn_clf_fold = KNeighborsClassifier(n_neighbors=1)
    for i in range(0,k_folds - 3):
        knn_clf.fit(x_train[i],y_train[i])
        predicted = knn_clf.predict(x_train[i])
        results.append(accuracy_score(y_train[i+1], predicted))
    return results

k_fold(test_k_x,test_k_y,5)

[0.4375, 0.625]

In [37]:
knn_clf_fold = KNeighborsClassifier(n_neighbors=1)
knn_clf.fit(x_1,y_1)
predicted = knn_clf.predict(x_1)
accuracy_score(y_4, predicted.round())

0.375

In [38]:
knn_clf.fit(x_3,y_3)
predicted = knn_clf.predict(x_3)
accuracy_score(y_4, predicted.round())

0.5625